{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NFTAlarm</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/3.1.0/css/adminlte.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
      <!-- jQuery and Bootstrap CSS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  
      <!-- Bootstrap Icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
      
      <!-- HTMX -->
      <script src="https://unpkg.com/htmx.org@1.6.0"></script>
  
  </head>
  <body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">
      <header class="main-header"></header>
      <div class="content-wrapper">
        <div class="container">
        <!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">NFTalarm</h1>
</div>

<!-- Content Row -->
<div class="row">

  <div id="search-container" class="container">
    <form id="search-form">
        <h5 class="mt-2">Collection Name:</h5>
        <div class="form-group">
          <select name="collection" hx-get= "{% url 'loadAttributes' %}" hx-trigger="change" hx-target="#attributes" class="form-control">
            <option value="" selected disabled hidden>Choose here</option>
            {% for collection in data %}
            <option value= "{{collection}}">{{collection}}</option>
            {%endfor%}
          </select>
        </div>

  
        <div id="attributes">
          {% include 'attributes.html' %}
        </div>
      </div>

      <button type="submit" class="btn btn-primary btn-block mt-4">
        Search
      </button>
      <a href="{% url 'results' %}">
        <input type="button" value="Track" class="btn btn-primary btn-block mt-4" />
     </a>


  {% if isCompleted == "True" %}
  
  {%endif%}

      </form>
    </div>
  </div>

</div>
        </div>
      </div>
    </div>
  </body>
</html>